@import url("normalize.css");
@import url("hamburger.css");

:root {

  /* ---------- colors ----------------*/
  --main-bg-color: #0c042c;
  --bright-purple: #7213c3;
  --purple: #420f6d;
  --bright-blue: #11f2f7;
  --white: #f7f6f8;
  --white-purple: #c0b3cb;
  --darker-purple: #420d7e;
  --darkest-purple: #312758;


  /* ---------- sizing ----------------*/
  --container-padding: 220px 40px;
  --popout-nav-padding: clamp(10rem, 19vw, 29rem) 40px 0 40px;
  --testimonial-padding: 330px 40px 210px 40px;
  --testimonial-margin: -210px auto 0 auto;
  --products-padding: 0px 40px 0px 40px;
  --header-padding: 30px 40px 0px 40px;
  --fbottom-padding: 220px 40px 120px 40px;
  --hero-padding: 15vw 40px 0 40px;

  --header-links-padding: 0px 20px 0px 20px;
  --footer-links-padding: 0px 20px 0px 20px;

  --button-padding: 9px 52px;


  /* ---------- grid gap ----------------*/

  --grid3-gap: 60px 60px;
  --grid2-gap: 60px 20px;


  /* -------------- max width ------------*/

  --mw-max-width: 79vw;
  --container-max-width: 1920px;


  /* -------------- font size ---------------*/
  --h1-fontsize: 6.453454345vw;
  --h2-fontsize: 92.59px;
  --h3-fontsize: 69.46px;
  --h4-fontsize: 52.11px;
  --h5-fontsize: 39.09px;
  --h6-fontsize: 29.33px;
  --p-fontsize: 22.00pt;

  --headlink-fontsize: 39.09px;

}

@font-face {
  font-family: "robotolight";
  src: url("./webfontkit/roboto-light-webfont.woff2") format("woff2"),
    url("./webfontkit/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotomedium";
  src: url("./webfontkit/roboto-medium-webfont.woff2") format("woff2"),
    url("./webfontkit/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoregular";
  src: url("./webfontkit/roboto-regular-webfont.woff2") format("woff2"),
    url("./webfontkit/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "quartoutline";
  src: url("./webfontkit/quart-outline-webfont.woff2") format("woff2"),
    url("./webfontkit/quart-outline-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "quartregular";
  src: url("./webfontkit/quart-regular-webfont.woff2") format("woff2"),
    url("./webfontkit/quart-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "strretch_sans_freeregular";
  src: url("./webfontkit/strretch_sans_free-webfont.woff2") format("woff2"),
    url("./webfontkit/strretch_sans_free-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Set core body defaults */
body {
  font-size: 100%;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: var(--white-purple);
  background-color: var(--main-bg-color);
  font-family: "robotolight";
}

.overhidden{
  overflow: hidden;
}

a {
  text-decoration: none;
  outline: none;
  color: var(--bright-blue);
}

h1 {
  font-family: "strretch_sans_freeregular";
  font-weight: normal;
  font-style: normal;
  font-size: var(--h1-fontsize);
  line-height: 1;
}

h2 {
  font-family: "robotomedium";
  font-size: var(--h2-fontsize);
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  margin: 0 0 48px 0;
}

h3{
  font-size: var(--h3-fontsize);
}

h4 {
  font-family: "quartoutline";
  font-size: var(--h4-fontsize);
  line-height: 1;
  color: var(--bright-blue);
  font-weight: normal;
  font-style: normal;
  margin: 0 0 10px 0;
}

h5 {
  font-family: "robotomedium";
  font-size: var(--h5-fontsize);
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
}

h6 {
  font-family: "robotomedium";
  font-size: var(--h6-fontsize);
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  margin: 0 0 20px 0;
}

p {
  font-size: var(--p-fontsize);
  letter-spacing: 0.6px;
  line-height: 1.8;
  font-weight: normal;
  font-style: normal;
  margin: 0 0 0 0;
}

.border-radius{
  border-radius: 1.823423423655467456vw;
}



.page-wrapper {
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  background-position: 50% 0%;
  background-size: 90%;
}

.grain {
  pointer-events: none;
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 3;
  background-image: url(./assets/noise.gif);
  background-size: auto;
  opacity: 0.04;
}

.gradient {
  pointer-events: none;
  margin: 0 -70vw 0 0;
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  background-image: url(./assets/615f46c28f82ee18f2081645_gradient.png);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.54;
}

.marquee {
  height: 1.4vw;
  width: 22.3vw;
  overflow: hidden;
  position: relative;
  font-family: "strretch_sans_freeregular";
  color: var(--darkest-purple);
  text-transform: uppercase;
  font-size: 1.3vw;
}

.marquee div {
  display: block;
  width: 432%;
  height: 30px;

  position: absolute;
  overflow: hidden;

  animation: marquee 15s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -216%; }
}


.menu-open {
  pointer-events: none;
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  background-color: var(--main-bg-color);
}

.popout-nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--popout-nav-padding);
}

.popout-inactive{
  display: none;
}

.container {
  max-width: var(--container-max-width);
  padding: var(--container-padding);
  margin: auto;
}

.light {
  background-color: var(--white-purple);
  color: var(--main-bg-color);
}

.testimonial {
  margin: var(--testimonial-margin);
  padding: var(--testimonial-padding);
}

.products {
  padding: var(--products-padding);
}

.header {
  padding: var(--header-padding);
}

.fbottom {
  padding: var(--fbottom-padding);
}

.header-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-links {
  padding: var(--header-links-padding);
}

.headlink {
  font-family: "quartoutline";
  font-weight: normal;
  font-style: normal;
  font-size: var(--headlink-fontsize);
  line-height: 1;
}

.header-line {
  height: 5px;
  width: 100%;
  background-color: var(--purple);
}

.header-logo {
  height: 4.9999234323345454546345vw;
}

.button {
  font-size: 12px;
  letter-spacing: 2px;
  font-family: "robotomedium";
  border-radius: 200px;
  border: 2px solid var(--white);
  padding: var(--button-padding);
  display: inline-block;
}

.hero {
  padding: var(--hero-padding);
  text-align: center;
}

.hero-link {
  position: relative;
  z-index: 1;
  height: 100px;
  width: 100px;
  margin: 10px auto -50px auto;
  border: 2px solid var(--white);
  border-radius: 200px;
  background-image: url("./assets/stars.png");
  background-color: var(--main-bg-color);
}

.hero-image {
  width: 100%;
  height: 600px;
  max-width: 100%;
  object-fit: cover;
}



.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--grid3-gap);
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--grid2-gap);
}

.quote-img {
  height: 40px;
  margin-bottom: 20px;
}

.grid2-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ninety-percent {
  width: 90%;
}

.grid2-img {
  width: 100%;
  height: 520px;
  max-width: 100%;
  object-fit: cover;
}

.work-img {
  width: 100%;
  height: 420px;
  max-width: 100%;
  margin-bottom: 40px;
  object-fit: cover;
}

.footer-line {
  height: 5px;
  width: 100%;
  background-color: var(--purple);
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.flex {
  display: flex;
}

.fcenter {
  align-items: center;
}

.footer-links {
  padding: var(--footer-links-padding);
}

.last {
  padding: 0px 0px 0px 20px;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 1220px) {
  p {font-size: 22.2px;}
}



@media only screen and (max-width: 1000px) {
  /*Tablets [601px -> 1200px]*/
  h1 {
    font-size: 6vw;
  }

  .hamburger {
    display: initial;
  }

  .header-links {
    display: none;
  }

  .hero-link {
    height: 75px;
    width: 75px;
    background-size: 110%;
  }
}

@media only screen and (max-width: 900px) {
  /*Big smartphones [426px -> 600px]*/
  h1 {
    font-size: 7vw;
  }

  .mw {
    max-width: 100vw;
  }

  .grid3 {
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px 50px;
  }

  .header-logo {
    height: 70px;
  }
}

@media only screen and (max-width: 600px) {
  /*Small smartphones [325px -> 425px]*/

  h1 {
    font-size: 7.5vw;
  }

  
  .hero-link {
    height: 65px;
    width: 65px;
  }

  .mw {
    max-width: 100vw;
  }

  .header-logo {
    height: 50px;
  }

  .grid2 {
    display: flex;
    flex-direction: column;
  }

  .grid3 {
    display: flex;
    flex-direction: column;
  }

  .ninety-percent {
    width: 100%;
  }

  .footer-flex {
    text-align: center;
    flex-direction: column-reverse;
  }

  .flex {
    justify-content: center;
    padding-bottom: 20px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
