@import url("hamburger.css");


* {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #0c042c;
  --bright-purple: #7213c3;
  --purple: #420f6d;
  --bright-blue: #11f2f7;
  --white: #f7f6f8;
  --white-purple: #c0b3cb;
  --darker-purple: #420d7e;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
div,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: var(--white-purple);
  background-color: var(--main-bg-color);
  font-family: "robotolight";
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: "robotolight";
  src: url("./webfontkit/roboto-light-webfont.woff2") format("woff2"),
    url("./webfontkit/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotomedium";
  src: url("./webfontkit/roboto-medium-webfont.woff2") format("woff2"),
    url("./webfontkit/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoregular";
  src: url("./webfontkit/roboto-regular-webfont.woff2") format("woff2"),
    url("./webfontkit/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "quartoutline";
  src: url("./webfontkit/quart-outline-webfont.woff2") format("woff2"),
    url("./webfontkit/quart-outline-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "quartregular";
  src: url("./webfontkit/quart-regular-webfont.woff2") format("woff2"),
    url("./webfontkit/quart-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "strretch_sans_freeregular";
  src: url("./webfontkit/strretch_sans_free-webfont.woff2") format("woff2"),
    url("./webfontkit/strretch_sans_free-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
  outline: none;
  color: var(--bright-blue);
}

h1 {
  font-family: "strretch_sans_freeregular";
  font-weight: normal;
  font-style: normal;
  margin: 0 0 60px 0;
  font-size: 80px;
  line-height: 1;
}

h2 {
  font-family: "robotomedium";
  font-size: 40px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  margin: 0 0 48px 0;
}

h4 {
  font-family: "quartoutline";
  font-size: 40px;
  line-height: 1;
  color: var(--bright-blue);
  font-weight: normal;
  font-style: normal;
  margin: 0 0 10px 0;
}

h6 {
  font-family: "robotomedium";
  font-family: "robotomedium";
  font-size: 22px;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  margin: 0 0 20px 0;
}

p {
  font-size: 18px;
  letter-spacing: 0.6px;
  line-height: 1.8;
  font-weight: normal;
  font-style: normal;
  margin: 0 0 0 0;
}

h5 {
  font-family: "quartoutline";
  font-size: 40px;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
}

.page-wrapper {
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  background-position: 50% 0%;
  background-size: 90%;
}

.grain {
  pointer-events: none;
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  background-image: url(./assets/noise.gif);
  background-size: auto;
  opacity: 0.04;
}

.section {
}

.container {
  max-width: 1920px;
  padding: 120px 40px;
  margin: auto;
}

.light {
  background-color: var(--white-purple);
  color: var(--main-bg-color);
}

.testimonial {
  margin: -210px auto 0 auto;
  padding: 330px 40px 120px 40px;
}

.products {
  padding: 0px 40px 0px 40px;
}

.header {
  padding: 30px 40px 0px 40px;
}

.footer {
}

.header-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-links {
  padding: 0px 20px 0px 20px;
}

.headlink {
  font-family: "quartoutline";
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  line-height: 1;
}

.header-line {
  height: 5px;
  width: 100%;
  background-color: var(--purple);
}

.header-logo {
  height: 90px;
}

.button {
  font-size: 12px;
  letter-spacing: 2px;
  font-family: "robotomedium";
  border-radius: 200px;
  border: 2px solid var(--white);
  padding: 9px 32px;
  display: inline-block;
}

.hero {
  padding: 190px 40px 0 40px;
  text-align: center;
}

.hero-link {
  position: relative;
  z-index: 1;
  height: 100px;
  width: 100px;
  margin: 0 auto -50px auto;
  border: 2px solid var(--white);
  border-radius: 200px;
  background-image: url("./assets/stars.png");
  background-color: var(--main-bg-color);
}

.hero-image {
  width: 100%;
  height: 600px;
  max-width: 100%;
  object-fit: cover;
}

.mw{
  max-width: 1000px;
  margin: auto;
}

.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px 80px;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px 20px;
}

.quote-img {
  height: 40px;
  margin-bottom: 20px;
}

.grid2-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ninety-percent {
  width: 90%;
}

.grid2-img {
  width: 100%;
  height: 420px;
  max-width: 100%;
  object-fit: cover;
}

.work-img {
  width: 100%;
  height: 420px;
  max-width: 100%;
  margin-bottom: 40px;
  object-fit: cover;
}

.footer-line {
  height: 5px;
  width: 100%;
  background-color: var(--purple);
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.flex {
  display: flex;
}

.fcenter {
  align-items: center;
}

.footer-links {
  padding: 0px 20px 0px 20px;
}

.last {
  padding: 0px 0px 0px 20px;
}

.hamburger{
  display: none;
}

@media only screen and (max-width: 1000px){
  /*Tablets [601px -> 1200px]*/
  h1{
    font-size: 60px;
  }

  .hamburger{
    display: initial;
  }

  .header-links{
    display: none;
  }

}


@media only screen and (max-width: 800px){
	/*Big smartphones [426px -> 600px]*/
  h1{
    font-size: 45px;
  }

  .grid3{
    grid-template-columns: 1fr 1fr;
  }

  .header-logo{
    height: 70px;
  }
  
}

@media only screen and (max-width: 600px){
	/*Small smartphones [325px -> 425px]*/

  h1{
    font-size: 35px;
  }

  .header-logo{
    height: 50px;
  }

  .grid2{
    display: flex;
    flex-direction: column;
  }

  .grid3{
    display: flex;
    flex-direction: column;
  }

  .ninety-percent{
    width: 100%;
  }

  .footer-flex{
    text-align: center;
    flex-direction: column-reverse;
  }

  .flex{
    justify-content: center;
    padding-bottom: 20px;
  }

  
}


  